# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
.idea/ # For PyCharm/IntelliJ users

# Jupyter Notebook
.ipynb_checkpoints

# Data 
data/processed/
data/raw/
# Models 
models/*.pkl
models/*.joblib
models/*.h5 # Keras/TensorFlow models
models/*.pth # PyTorch models